body > * {
  user-select: none;
}

h1 {
  text-align: center;
  background: aliceblue;
  width: 100%;
  margin-top: 0px;
  border-radius: 8px 8px 0 0;
}

.app {
  margin: 0 auto;
  border-radius: 10px;
}

.buttonRow {
  display: inline-block;
}

.user {
  border-bottom: 2px solid #ddd;
}

@media screen and (min-width: 425px) {
  .app {
    width: 400px;
  }
}
